<a href="https://colab.research.google.com/github/premswaroopmusti/Intern-Assignment/blob/main/INTERN_Machine_Learning_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing libraries
import pandas as pd
import numpy as np

In [ ]:
# loading the dataset 'Example_Technical_skills'
tech = pd.read_csv('/content/drive/MyDrive/intern assignment 1/Example_Technical_Skills.csv')

In [ ]:
# loading the dataset 'Raw_skills_dataset'
raw = pd.read_csv('/content/drive/MyDrive/intern assignment 1/Raw_Skills_Dataset.csv')

In [ ]:
# creating an array
tech_data = []
for i in raw['RAW DATA']:
  if i in tech['Technology Skills'].values:
    tech_data.append(i)

# creating a dataframe 
df = pd.DataFrame(tech_data)
df
# dropping duplicate values
df.drop_duplicates(inplace = True)
df.duplicated().sum()

0

In [ ]:
print(df)

                              0
0                         MySQL
1                          SCSS
2                           EAC
3                        DevOps
5                     OpenShift
6                        GitHub
13                     NetSuite
16                    Bitbucket
21                     Ethereum
22                       Kotlin
33                         Bash
48                          FTP
53                    OneStream
67                       Consul
86                    Force.com
94                Amazon Lambda
96                       Radius
99                         Gulp
101      Guidewire PolicyCenter
110             Adobe Photoshop
112                     Eclipse
140                     Phantom
143                     Magento
151  Microsoft Azure Networking
178                    ActiveMQ
195                  SAP Lumira
196         SAP Analytics Cloud
200                     PostGIS
210                     SAS JMP
213                       NuGet
232                         DRM
234        SAS Enterprise Guide
237                     Katalon
239                Apache Oozie
242              Octopus Deploy
258                    SAS Base

In [ ]:
# checking for null values
raw.isnull().sum()

RAW DATA    0
dtype: int64